*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080800;
    color: rgb(240, 246, 246);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(jaswanth.JPG);
    background-size: cover;
    background-position: center;
    
}

.logo{
    width: 300px;
    height: 100px;
    
    
}
.container{
    padding: 10px 10%;
   


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav  ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/* ---------about-----------*/
.temp3{
    margin-top: 40px;
    width: 450px;
    height: 600px;
    border-radius: 20px ;
    margin-left: -50px;
}
#about
{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    word-spacing: 10px;
}
.aboot{
    word-spacing: 10px;
    text-align: justify;
    line-height: 1.5;
    font-size: 17px;
    
}
.tabtitles
{
    display: flex;
    margin: 20px 0 40px;

}
.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tablinks.activelink::after{
    width: 60%;
}
 .tabcontents ul li{
    list-style: none;
    margin: 10px 0;
 }
 .tabcontents ul li span{
    color: #eb1156;
    font-size: 18px;
    font-weight: 700;
 }
 .tabcontents{
    display: none;
 }
 .tabcontents.activetab{
    display: block;
 }
 /* -----------------services----------------*/
 #services{
     padding: 30px 0;
 }
 .services-list{
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
     grid-gap: 40px;
     margin-top: 50px;
 }
 .services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
    text-align: justify;
 } 
 .services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
    transition: background-color 0.5s,transform 0.5s, box-shadow 0.5s;


 }
 .services-list div p{
    font-size: 15px;
    line-height: 1.4;
 }
 .services-list div h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
 }
 .services-list div a{
    text-decoration: none;
    color: #fff;
    margin-top: 23px;
    font-size: 15px;
    display: inline-block;
 }
 .services-list div:hover{
    background-color: #91022f;
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(57, 49, 57, 0.662);
    transition: background-color 0.5s,transform 0.5s, box-shadow 0.5s;
      
 }
 /* -------------MY WORK-------*/
 #portfolio{
    padding: 40px 0 ;
 }
 .work-list{
    display: grid;
     grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
     grid-gap: 60px;
     margin-top: 50px;
     margin-left: -40px;
 }
 .phone ,
 .laptop ,.f1{
    width: 110%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
 }
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding-right: 10px;
    
 }
 .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#6e0224);
    border-radius: 10px;
     position: absolute;
     left: 0;
     bottom: 0;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     line-height: 1.5;
     text-align: center;
     font-size: 15px;
     transition: height 0.5s;
 }
 .layer h3{
    font-weight: 600;
    margin-bottom: 20px;
    
     
 }
 .layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    opacity: 0.9;
 }
 .work:hover img{
    transform: scale(1.1);
    transition: transform 0.5s;
 }
 .work:hover .layer{
    height: 100%;
    transition: height 0.5s;
     
 }
 .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.7s, box-shadow 0.7s;
 }
 .btn:hover{
    background-color: #ff004f;
    box-shadow:0 0 6px #584c4c;
    transition: background-color 0.7s, box-shadow 0.7s;
 }
 /*-----contact------*/
 .contact-left{
    flex-basis: 35%;
 } 
 .contact-right{
    flex-basis: 60%;
 }
 .contact-left p{
    margin-top: 30px;
 }
 .contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
 }
 .socialiocns{
    margin-top: 30px;

 }
 .socialiocns a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s color 0.5s;
     
 }
 .socialiocns a:hover{
    color: #ff004f;
    transform: translateY(-7px);
    transition: transform 0.5s,color 0.5s;
 }
.btn.btn2{
    display: inline-block;
    background-color: #ff004f ;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px ;
    margin: 10px 0;
    color: #fff;
    font-size: 19px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
nav .fa-solid{
    display: none;
}
/* ---- css for small screen-----*/
@media only screen and (max-width:600px){
#header{
    background-image: url(22.JPG);
    
    padding-bottom: 100px;

}
.header-text{
    margin-top: 60%;
    font-size: 16px;
    margin-right: 20%;
    margin-left: -10%;
    
   
}
.header-text h1{
   font-size:30px ; 
   
}
nav .fa-solid{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s ;
    
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.temp3{
    height: 400px;
    width:330px;
    margin-left:20px;
    margin-bottom: 30px;
}

.subtitle{
font-size: 30px;
}

.aboot{
    font-size: 15px;
    
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
.copyright{
    font-size: 70%;
}
}









